---
import BlogPostCard from './BlogPostCard.astro';

const { posts } = Astro.props;
---

<section class="th-blog-wrapper space-top space-extra-bottom" aria-label="Artigos do blog">
	<div class="container">
		<div class="title-area text-center mb-40">
			<p class="sub-title"><span class="double-line"></span> Imóveis na planta</p>
			<h1 class="sec-title">Blog</h1>
		</div>
		<div class="row gy-30 justify-content-center">
			{
				posts.map((post) => (
					<div class="col-lg-4 col-md-6 d-flex">
						<BlogPostCard post={post} />
					</div>
				))
			}
		</div>
	</div>
</section>
