---
import BlogPostCard from './BlogPostCard.astro';

const { posts } = Astro.props;
---

<section class="space overflow-hidden home-blog-section" id="blog-sec" aria-labelledby="home-blog-title">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xl-7">
				<div class="title-area text-center">
					<p class="sub-title"><span class="double-line"></span> Blog</p>
					<h2 class="sec-title" id="home-blog-title">Últimos Artigos</h2>
				</div>
			</div>
		</div>

		<div class="row gy-30 justify-content-center">
			{
				posts.map((post) => (
					<div class="col-lg-4 col-md-6 d-flex">
						<BlogPostCard post={post} />
					</div>
				))
			}
		</div>

		{
			posts.length > 0 && (
				<div class="text-center mt-40">
					<a href="/blog" class="th-btn pill home-blog-section__all-btn">
						Ver todos os artigos
					</a>
				</div>
			)
		}
	</div>
</section>

<style>
	.home-blog-section__all-btn {
		padding: 14px 28px;
		font-size: 15px;
		font-weight: 600;
	}
</style>
